<manifest
    package="com.example.dagger.simple"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".DemoApplication"
        android:label="app_name">
        <activity
            android:name=".ui.HomeActivity"
            android:label="app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
